// how to:
//@import "~@/styles/variables";

//couleurs
$darkblue: '#18288D';
$lightblue: '#2653AF';
$pink: '#eca39d';
$orange: '#FFC13D';
$white: '#F7F7F4';
$black: '#1F1D1E';

//z-index
$canvas: -1;
$content: 0;
$menus: 1;
//fonts

//sizes
$text-size: 2rem;
$title-size: 3rem;
