// how to:
//@import "~@/styles/variables";

//couleurs
$pink: '#F2C0C8';
$orange: '#F4933B';
$white: '#F7F7F5';
$black: '#122E35';

// VIOLET: "#543DF1",
// GRAY: "#E1D0F4",
// YELLOW: "#FFC45C",

//z-index
$canvas: -1;
$content: 0;
$menus: 1;
//fonts

//sizes
$text-size: 2rem;
$title-size: 3rem;
