// how to:
//@import '~/styles/_variables.scss';

// couleurs
$pink: #f2c0c8;
$lightpink: #e1d0f4;
$orange: #f4933b;
$white: #f7f7f5;
$black: #122e35;
$blue: #543df1;
$yellow: #ffc45c;
$lightgrey: #a29ebe;

// z-index
$canvas: 1;
$content: 0;
$menus: 2;

// sizes
$text-size: 2rem;
$title-size: 3rem;

//paddings
$menu-padding: 50px;
