@font-face {
  font-family: "BTP";
  src: url("/assets/fonts/btp-normal-webfont.woff2") format("woff2"),
    url("/assets/fonts/btp-normal-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BTP";
  src: url("/assets/fonts/btp-rotated-webfont.woff2") format("woff2"),
    url("/assets/fonts/btp-rotated-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
