@font-face {
  font-family: "Millimetre";
  src: url("/assets/fonts/Millimetre-Regular_web.woff2") format("woff2"),
    url("/assets/fonts/Millimetre-Regular_web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Millimetre";
//   src: url("/fonts/Millimetre/bold/Millimetre-Bold_web.woff2") format("woff2"),
//     url("/fonts/Millimetre/bold/Millimetre-Bold_web.woff") format("woff");
//   font-weight: 700;
//   font-style: bold;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Sharp";
//   src: url("/assets/fonts/mixta_ess_sharp_regular-webfont.woff2") format("woff2"),
//     url("/assets/fonts/mixta_ess_sharp_regular-webfont.woff") format("woff");
//   font-weight: 400;
//   font-style: normal;
// }
